.center {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}


img {
    width: 100px;
    height: 100px;
}
#one {
    display:block;
}
#two {
    display:block;
}
#three {
    display:block;
}
#four {
    display:block;
}
#five {
    display:block;
}
