html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("/pictures/backdrops/sky.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 50px;
    color: #60becf;
    text-align: center;
    padding: 20px;
    padding-top: 0px;
    margin: 0px;
}

body {
    margin: 75px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 26px;
    align-content: center;
    align-items: center;
    text-align: center;
    color: #a1dbe6;
}

img {
    height: 85px;     
    width: 85px;  
}

.vertical_align {
    display: flex;
    align-items: center;
    padding: 22px;
}

.purple {
    color: #1e1753;
}
